@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.barranav {
    background-color: #1b3039;
    display: flex;
    align-items: center; 
    padding: 10px; 
}

.barranav .logo {
    cursor: pointer;
    margin-right: auto;
}

.barranav .logo img {
    height: 60px;
    width: auto; 
    transition: all 0.3s;
}

.barranav .logo img:hover {
    transform: scale(1.2);
}

.barranav .navlinks {
    list-style: none;
    margin-right: 20px; 
}

.barranav .navlinks li {
    display: inline-block;
    padding: 0 15px; 
}

.barranav .navlinks li:hover {
    transform: scale(1.1);
}

.barranav .navlinks a {
    font-weight: 700; 
    color: #eceff1;
    text-decoration: none;
    
}

.barranav .navlinks a:hover {
    color: #ffbc0e;
}

.barranav .donaciones-btn a {
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.barranav .donaciones-btn a:hover {
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}


.inicioc {
    background-color: #191919;
}

.h1in {
    font-family: "Anton", sans-serif;
    text-align: center;
    background: linear-gradient(to left, #f5f5f5, #ffcccc);

    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent; 
}


.pinicio{

    font-family: "Nanum Gothic Coding", monospace;
    position: relative;
    text-align: center;
    color: #f5f5dc;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #f5f5dc; 
    background-color: transparent; 
    box-shadow: none; 
}

.boxinicio {
    position: relative;
    text-align: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #f5f5dc; 
    background-color: transparent; 
    box-shadow: none; 
}


.operacionesb{
    background: linear-gradient(to left, #f5f5f5, #ffcccc);

-webkit-background-clip: text;
font-family: "Nanum Gothic Coding", monospace;
color: transparent;


font-size: 80px;
text-transform: capitalize;
margin-bottom: 20px;
}

@keyframes cambio-color {
    0% { color: red; }
    33% { color: green; }
    66% { color: blue; }
    100% { color: red; }
  }

  /* Define la animación de resaltar */
  @keyframes resaltar {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }


  .sumah {
    animation: cambio-color 9s infinite, resaltar 2s infinite;
    font-family: "Pacifico", cursive;
  }

.restah{
    font-family: "Pacifico", cursive;
    animation: cambio-color 9s infinite, resaltar 2s infinite;
}

.multh{
    font-family: "Pacifico", cursive;
    animation: cambio-color 9s infinite, resaltar 2s infinite;
}

.divih{
    font-family: "Pacifico", cursive;
    animation: cambio-color 9s infinite, resaltar 2s infinite;
}

.sumaf{
    font-family: "Pacifico", cursive;
    animation: cambio-color 9s infinite;

}

.about{
    width: 100%;
    padding: 70px 0px;
    background-color: #191919;
}

.about img{
    height: auto;
    width: 420px;
}

.about-text {
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span{
    color: #f9004d;
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.bodyabout{
    background-color: #191919;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-family: "Pacifico", cursive;
    border: 1px solid #f5f5dc; 
    background-color: transparent; 
    box-shadow: none; 
}

.h1container{
    font-family: "Nanum Gothic Coding", monospace;
    
}

.quiz {
    margin-top: 20px;
    text-align: left;
}

.exercise {
    margin-bottom: 20px;
}

.answer {
    margin-top: 10px;
}

.show-answer {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.poperaciones{
    color: #f5f5dc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}


.imageninicio {
    display: block; 
    margin: 0 auto; 
    max-width: 50%; 
    height: auto; 
}


.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    
position: relative;
text-align: center;
padding: 20px;
max-width: 800px;
margin: 0 auto;
border: 1px solid #f5f5dc;
background-color: transparent; 
box-shadow: none; 
}

.animation-container1 {
    margin-right: 20px; 
}

.form-container1 {
    display: flex;
    align-items: center;
}

.form-container1 input[type="text"] {
    padding: 10px;
    margin-right: 5px;
}

.dolar {
    font-size: 20px;
    margin-right: 5px;
}

.form-container1 button {
    padding: 10px 20px;
    background-color: #ffbc0e;
    color: #1b3039; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container1 button:hover {
    background-color: #e2f1f8;
    color: #ffbc0e;
}












.containe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 10px;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
}

button {
    cursor: pointer;
    margin: 0;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 1.5em;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #006f54;
    color: #fff;
}


button:active {
    background-color: #004e39;
}

button:focus {
    outline: none;
}

.dos{
    grid-column: span 2;
}

#sum{
    grid-row: span 2;
}

.display {
    grid-column: 1 / -1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-size: 2em;
    font-weight: bold;
    color: #333;

    
}

button[value="igual"] {
    background-color: orange;
    color: white; 
}



.pdonacion {

    font-family: "Nanum Gothic Coding", monospace;
    text-align: center;
    color: #f5f5dc;
    letter-spacing: 1px;
    font-family: "Pacifico";
    display: block;
    margin-top: 20px; 
  }

/* Estilos para pantallas con un ancho de 414px o menos (como el iPhone 11) */
@media (max-width: 414px) {
    .barranav {
        /* Aquí puedes ajustar los estilos de la barra de navegación para pantallas pequeñas */
        flex-direction: column;
        align-items: center;
    }
    .navlinks {
        /* Aquí puedes ajustar los estilos de los enlaces de navegación para pantallas pequeñas */
        flex-direction: column;
        padding: 10px;
    }
    .navlinks li {
        /* Aquí puedes ajustar los estilos de los elementos de la lista de navegación para pantallas pequeñas */
        margin: 10px 0;
    }
    /* Añade más selectores y estilos según sea necesario */

    .about-text {
        /* Agrega un margen alrededor del texto */
        margin: 20px;
    }

    .calculadora {
        /* Aquí puedes ajustar los estilos de la calculadora para pantallas pequeñas */
        width: 90%; /* Ajusta el ancho de la calculadora al 90% del ancho de la pantalla */
        margin: 0 auto; /* Centra la calculadora horizontalmente en la pantalla */
    }
    .calculadora button {
        /* Aquí puedes ajustar los estilos de los botones de la calculadora para pantallas pequeñas */
        font-size: 14px; /* Reduce el tamaño de la fuente de los botones */
        padding: 5px; /* Reduce el relleno de los botones */
        width: 40%; /* Ajusta el ancho de los botones */
        height: 40px; /* Ajusta la altura de los botones */
    }
    .display {
        /* Aquí puedes ajustar los estilos del display de la calculadora para pantallas pequeñas */
        font-size: 14px; /* Reduce el tamaño de la fuente del display */
        padding: 5px; /* Reduce el relleno del display */
        width: 80%; /* Ajusta el ancho del display al 90% del ancho de la pantalla */
        height: 40px; /* Ajusta la altura del display */
    }
    .animation-container1 {
    
        display: none;
    }
    .form-container1 {
        /* Aquí puedes ajustar los estilos del formulario de donaciones para pantallas pequeñas */
        width: 150%; /* Ajusta el ancho del formulario de donaciones al 90% del ancho de la pantalla */
        margin: 0 auto; /* Centra el formulario de donaciones horizontalmente en la pantalla */
    }
}


/* Estilos para pantallas con un ancho de 600px o menos */
@media (max-width: 600px) {
    .barranav {
        flex-direction: column;
        align-items: center;
    }
    .navlinks {
        flex-direction: column;
        padding: 10px;
    }
    .navlinks li {
        margin: 10px 0;
    }
    .about-text {
        margin: 20px;
    }
    .calculadora {
        width: 90%;
        margin: 0 auto;
    }
    .calculadora button {
        font-size: 14px;
        padding: 5px;
        width: 40%;
        height: 40px;
    }
    .display {
        font-size: 14px;
        padding: 5px;
        width: 80%;
        height: 40px;
    }
    .animation-container1 {
        display: none;
    }
    .form-container1 {
        width: 100%;
        margin: 0 auto;
    }
}

