@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.barranav {
    background-color: #1b3039;
    display: flex;
    align-items: center; 
    padding: 10px; 
}

.barranav .logo {
    cursor: pointer;
    margin-right: auto;
}

.barranav .logo img {
    height: 60px;
    width: auto; 
    transition: all 0.3s;
}

.barranav .logo img:hover {
    transform: scale(1.2);
}

.barranav .navlinks {
    list-style: none;
    margin-right: 20px; 
}

.barranav .navlinks li {
    display: inline-block;
    padding: 0 15px; 
}

.barranav .navlinks li:hover {
    transform: scale(1.1);
}

.barranav .navlinks a {
    font-weight: 700; 
    color: #eceff1;
    text-decoration: none;
    
}

.barranav .navlinks a:hover {
    color: #ffbc0e;
}

.barranav .donaciones-btn a {
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.barranav .donaciones-btn a:hover {
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}


.inicioc {
    background-color: #191919;
}

.h1in {
    font-family: "Anton", sans-serif;
    text-align: center;
    background: linear-gradient(to left, #f5f5f5, #ffcccc);

    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent; 
}


.pinicio{

    font-family: "Nanum Gothic Coding", monospace;
    position: relative;
    text-align: center;
    color: #f5f5dc;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #f5f5dc; 
    background-color: transparent; 
    box-shadow: none; 
}

.boxinicio {
    position: relative;
    text-align: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #f5f5dc; 
    background-color: transparent; 
    box-shadow: none; 
}


.operacionesb{
    background: linear-gradient(to left, #f5f5f5, #ffcccc);

-webkit-background-clip: text;
font-family: "Nanum Gothic Coding", monospace;
color: transparent;


font-size: 80px;
text-transform: capitalize;
margin-bottom: 20px;
}

@keyframes cambio-color {
    0% { color: red; }
    33% { color: green; }
    66% { color: blue; }
    100% { color: red; }
  }

  /* Define la animación de resaltar */
  @keyframes resaltar {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }


  .sumah {
    animation: cambio-color 9s infinite, resaltar 2s infinite;
    font-family: "Pacifico", cursive;
  }

.restah{
    font-family: "Pacifico", cursive;
    animation: cambio-color 9s infinite, resaltar 2s infinite;
}

.multh{
    font-family: "Pacifico", cursive;
    animation: cambio-color 9s infinite, resaltar 2s infinite;
}

.divih{
    font-family: "Pacifico", cursive;
    animation: cambio-color 9s infinite, resaltar 2s infinite;
}

.sumaf{
    font-family: "Pacifico", cursive;
    animation: cambio-color 9s infinite;

}

.about{
    width: 100%;
    padding: 70px 0px;
    background-color: #191919;
}

.about img{
    height: auto;
    width: 420px;
}

.about-text {
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span{
    color: #f9004d;
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.bodyabout{
    background-color: #191919;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-family: "Pacifico", cursive;
    border: 1px solid #f5f5dc; 
    background-color: transparent; 
    box-shadow: none; 
}

.h1container{
    font-family: "Nanum Gothic Coding", monospace;
    
}

.quiz {
    margin-top: 20px;
    text-align: left;
}

.exercise {
    margin-bottom: 20px;
}

.answer {
    margin-top: 10px;
}

.show-answer {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.poperaciones{
    color: #f5f5dc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}


.imageninicio {
    display: block; 
    margin: 0 auto; 
    max-width: 50%; 
    height: auto; 
}


.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    
position: relative;
text-align: center;
padding: 20px;
max-width: 800px;
margin: 0 auto;
border: 1px solid #f5f5dc;
background-color: transparent; 
box-shadow: none; 
}

.animation-container1 {
    margin-right: 20px; 
}

.form-container1 {
    display: flex;
    align-items: center;
}

.form-container1 input[type="text"] {
    padding: 10px;
    margin-right: 5px;
}

.dolar {
    font-size: 20px;
    margin-right: 5px;
}

.form-container1 button {
    padding: 10px 20px;
    background-color: #ffbc0e;
    color: #1b3039; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container1 button:hover {
    background-color: #e2f1f8;
    color: #ffbc0e;
}












.containe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 10px;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
}

button {
    cursor: pointer;
    margin: 0;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 1.5em;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #006f54;
    color: #fff;
}


button:active {
    background-color: #004e39;
}

button:focus {
    outline: none;
}

.dos{
    grid-column: span 2;
}

#sum{
    grid-row: span 2;
}

.display {
    grid-column: 1 / -1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-size: 2em;
    font-weight: bold;
    color: #333;

    
}

button[value="igual"] {
    background-color: orange;
    color: white; 
}



.pdonacion {

    font-family: "Nanum Gothic Coding", monospace;
    text-align: center;
    color: #f5f5dc;
    letter-spacing: 1px;
    font-family: "Pacifico";
    display: block;
    margin-top: 20px; 
  }


  @media only screen and (max-width: 600px) {
    /* Estilos para dispositivos móviles */

    .barranav {
        padding: 250px; /* Aumentar el espacio de padding */
        height: 100px; /* Aumentar la altura de la barra de navegación */
        align-items: center;
    }

    .barranav .logo img {
        height: 50px; /* Reducir el tamaño del logotipo */
    }

    .barranav .navlinks {
        display: none; /* Ocultar enlaces de navegación */
    }

    .barranav .donaciones-btn {
        display: none; /* Ocultar botón de donaciones */
    }

    .container1 .form-container1 {
        flex-direction: column; /* Cambiar a disposición de columna */
        align-items: center; /* Centrar elementos */
    }

    .form-container1 input[type="text"] {
        width: 80%; /* Reducir el ancho del input */
        margin: 10px 0; /* Agregar espacio entre elementos */
    }

    .form-container1 button {
        width: 200%; /* Reducir el ancho del botón */
    }

    .pdonacion {
        font-size: 14px; /* Reducir el tamaño de fuente */
    }

    /* Agrega más estilos según sea necesario */
}


@media only screen and (max-width: 828px) {
    /* Estilos para el iPhone XR y dispositivos similares */

    .barranav {
        height: 100px; /* Ajustar la altura de la barra de navegación */
        padding: 15px; /* Ajustar el espacio de padding */
    }

    .barranav .logo img {
        height: 70px; /* Ajustar el tamaño del logotipo */
    }

    .barranav .navlinks {
        margin-right: 10px; /* Ajustar el margen derecho */
    }

    .barranav .navlinks li {
        padding: 0 10px; /* Ajustar el espacio entre enlaces */
    }

    .barranav .donaciones-btn {
        padding: 8px 20px; /* Ajustar el padding del botón de donaciones */
        font-size: 14px; /* Ajustar el tamaño de fuente */
    }

    .container1 .form-container1 input[type="text"] {
        width: 70%; /* Ajustar el ancho del input */
        margin: 10px 0; /* Ajustar el espacio entre elementos */
    }

    .form-container1 button {
        width: 70%; /* Ajustar el ancho del botón */
        font-size: 16px; /* Ajustar el tamaño de fuente */
    }

    .pdonacion {
        font-size: 14px; /* Ajustar el tamaño de fuente */
        margin-top: 10px; /* Ajustar el margen superior */
    }

    /* Agregar más estilos según sea necesario */
}


@media only screen and (max-width: 828px) {
    /* Estilos para el iPhone 11 y dispositivos similares */

    .barranav {
        height: 100px; /* Ajustar la altura de la barra de navegación */
        padding: 15px; /* Ajustar el espacio de padding */
    }

    .barranav .logo img {
        height: 70px; /* Ajustar el tamaño del logotipo */
    }

    .barranav .navlinks {
        margin-right: 10px; /* Ajustar el margen derecho */
    }

    .barranav .navlinks li {
        padding: 0 10px; /* Ajustar el espacio entre enlaces */
    }

    .barranav .donaciones-btn {
        padding: 8px 20px; /* Ajustar el padding del botón de donaciones */
        font-size: 14px; /* Ajustar el tamaño de fuente */
    }

    .container1 .form-container1 input[type="text"] {
        width: 70%; /* Ajustar el ancho del input */
        margin: 10px 0; /* Ajustar el espacio entre elementos */
    }

    .form-container1 button {
        width: 70%; /* Ajustar el ancho del botón */
        font-size: 16px; /* Ajustar el tamaño de fuente */
    }

    .pdonacion {
        font-size: 14px; /* Ajustar el tamaño de fuente */
        margin-top: 10px; /* Ajustar el margen superior */
    }

    /* Agregar más estilos según sea necesario */
}
