@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.barranav {
    background-color: #1b3039;
    display: flex;
    align-items: center; /* Cambiado para centrar verticalmente */
    padding: 10px; /* Ajustado el padding */
}

.barranav .logo {
    cursor: pointer;
    margin-right: auto;
}

.barranav .logo img {
    height: 60px;
    width: auto; 
    transition: all 0.3s;
}

.barranav .logo img:hover {
    transform: scale(1.2);
}

.barranav .navlinks {
    list-style: none;
    margin-right: 20px; /* Añadido un margen para separar los elementos */
}

.barranav .navlinks li {
    display: inline-block;
    padding: 0 15px; /* Ajustado el espaciado */
}

.barranav .navlinks li:hover {
    transform: scale(1.1);
}

.barranav .navlinks a {
    font-weight: 700; /* Quitado el font-size */
    color: #eceff1;
    text-decoration: none;
    
}

.barranav .navlinks a:hover {
    color: #ffbc0e;
}

.barranav .donaciones-btn a {
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.barranav .donaciones-btn a:hover {
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}


.inicioc {
    background-color: #191919;
}

.h1in {
    font-family: "Anton", sans-serif;
    text-align: center;
    background: linear-gradient(to left, #f5f5f5, #ffcccc);

    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent; 
}


.pinicio{

    font-family: "Nanum Gothic Coding", monospace;
    position: relative;
    text-align: center;
    color: #f5f5dc;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #f5f5dc; /* Agregamos un borde blanco hueso */
    background-color: transparent; /* Hacemos el fondo transparente */
    box-shadow: none; /* Eliminamos cualquier sombra si la hubiera */
}

.boxinicio {
    position: relative;
    text-align: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #f5f5dc; /* Agregamos un borde blanco hueso */
    background-color: transparent; /* Hacemos el fondo transparente */
    box-shadow: none; /* Eliminamos cualquier sombra si la hubiera */
}


.operacionesb{
    background: linear-gradient(to left, #f5f5f5, #ffcccc);

-webkit-background-clip: text;
font-family: "Nanum Gothic Coding", monospace;
color: transparent;


font-size: 80px;
text-transform: capitalize;
margin-bottom: 20px;
}

.sumah{
    font-family: "Pacifico", cursive;

}

.restah{
    font-family: "Pacifico", cursive;
}

.multh{
    font-family: "Pacifico", cursive;
}

.divih{
    font-family: "Pacifico", cursive;
}

.about{
    width: 100%;
    padding: 70px 0px;
    background-color: #191919;
}

.about img{
    height: auto;
    width: 420px;
}

.about-text {
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span{
    color: #f9004d;
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.bodyabout{
    background-color: #191919;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-family: "Pacifico", cursive;
}

.h1container{
    font-family: "Nanum Gothic Coding", monospace;
}

.quiz {
    margin-top: 20px;
    text-align: left;
}

.exercise {
    margin-bottom: 20px;
}

.answer {
    margin-top: 10px;
}

.show-answer {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.poperaciones{
    color: #f5f5dc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}


.imageninicio {
    display: block; /* Asegura que la imagen se muestre como un bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    max-width: 50%; /* Establece el ancho máximo al 50% del contenedor */
    height: auto; /* Ajusta la altura automáticamente para mantener la relación de aspecto */
}


.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    
position: relative;
text-align: center;
padding: 20px;
max-width: 800px;
margin: 0 auto;
border: 1px solid #f5f5dc; /* Agregamos un borde blanco hueso */
background-color: transparent; /* Hacemos el fondo transparente */
box-shadow: none; /* Eliminamos cualquier sombra si la hubiera */
}

.animation-container1 {
    margin-right: 20px; /* Espacio entre la animación y el formulario */
}

.form-container1 {
    display: flex;
    align-items: center;
}

.form-container1 input[type="text"] {
    padding: 10px;
    margin-right: 5px;
}

.dolar {
    font-size: 20px;
    margin-right: 5px;
}

.form-container1 button {
    padding: 10px 20px;
    background-color: #ffbc0e;
    color: #1b3039; /* Cambia el color del texto del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container1 button:hover {
    background-color: #e2f1f8;
    color: #ffbc0e;
}












.containe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color:violet;
    padding: 15px;
    border-radius: 25px;
    
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    color: black;
}

button:active {
    background-color: #006f54;
}

button:focus {
    outline: none;
}

.dos{
    grid-column: span 2;
}

#sum{
    grid-row: span 2;
}

.display {
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 15px ;
    flex-direction: column;
    align-items: flex-end;
    background-color: #363636;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    
}